# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg


dev_notes.md
full_metal_weaviate_ui/fastapi_app/.env
full_metal_weaviate_ui/full_metal_weaviate.env
.myenv/
.vscode/
.DS_Store


.env
