annotated-types==0.7.0
anyio==4.4.0
asttokens==2.4.1
Authlib==1.3.2
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
cryptography==43.0.1
decorator==5.1.1
exceptiongroup==1.2.2
executing==2.1.0
# Editable Git install with no remote (full_metal_monad==0.1)
-e /Users/paulhechinger/23full-metal-monad
# Editable Git install with no remote (full_metal_weaviate==0.1)
-e /Users/paulhechinger/22full-metal-weaviate
grpcio==1.66.1
grpcio-health-checking==1.66.1
grpcio-tools==1.66.1
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.8
ipython==8.18.1
jedi==0.19.1
jmespath==1.0.1
markdown-it-py==3.0.0
matplotlib-inline==0.1.7
mdurl==0.1.2
mock==5.1.0
numpy==2.0.2
packaging==24.1
pandas==2.2.2
parso==0.8.4
pexpect==4.9.0
pipdeptree==2.23.3
prompt_toolkit==3.0.47
protobuf==5.28.0
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==2.22
pydantic==2.9.0
pydantic_core==2.23.2
Pygments==2.18.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
returns==0.23.0
rich==13.8.0
six==1.16.0
sniffio==1.3.1
stack-data==0.6.3
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
validators==0.33.0
wcwidth==0.2.13
weaviate-client==4.7.1
